.featured {
  background: var(--gray);
}

.featured {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  padding: 20px;
  font-size: 22px;
}

.card a {
  display: block;
  padding: 0 20px 20px;
  color: var(--primary);
  font-weight: 600;
}

/* featured scroll section */

.highlight-section {
  padding: 80px 8%;
  background: #f7f7f7;
}

.highlight-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.highlight-card {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  height: 520px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* IMAGE */
.highlight-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* DARK OVERLAY */
.highlight-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.2));
  z-index: 1;
}

/* TEXT OVER IMAGE */
.highlight-overlay {
  position: absolute;
  bottom: 120px;
  left: 25px;
  right: 25px;
  color: white;
  z-index: 2;
}

.highlight-overlay h3 {
  font-size: 30px;
  margin-bottom: 12px;
  font-family: "Playfair Display", serif;
}

.highlight-overlay p {
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.95;
}

/* GOLD FOOTER STRIP */
.highlight-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f2c14e;
  padding: 22px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}

.highlight-footer span {
  font-weight: 700;
  font-size: 16px;
  color: #000;
}

.arrow {
  width: 36px;
  height: 36px;
  background: #002b6b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 18px;
}

/* HOVER EFFECT */
.highlight-card:hover img {
  transform: scale(1.05);
  transition: 0.4s ease;
}
