/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Open+Sans:wght@400;600&display=swap");

:root {
  --primary: #003a8f;
  --secondary: #f2a900;
  --dark: #1a1a1a;
  --light: #ffffff;
  --gray: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--dark);
  background-color: var(--light);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

section {
  padding: 80px 8%;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}
