.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: var(--light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 8%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.logo {
  font-size: 35px;
  font-weight: 700;
  color: var(--primary);
  font-family: "Playfair Display", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo h4 {
  margin-bottom: -10px;
  cursor: pointer;
}
.logo p {
  font-size: 12px;
}
.nav-links {
  display: flex;
  gap: 28px;
}

.nav-links a {
  font-weight: 600;
  font-size: 15px;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--secondary);
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.cta-buttons {
  display: flex;
  gap: 12px;
}

.btn {
  padding: 10px 18px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
}

.btn.primary {
  background: var(--primary);
  color: white;
}

.btn.secondary {
  border: 2px solid var(--primary);
  color: var(--primary);
}
