* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

img {
    opacity: 0.6; /* slight opacity */
    transition: opacity 0.3s ease;
    
}


